@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playpen+Sans&family=Press+Start+2P&family=Tilt+Neon&display=swap');


*{
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.btn {
    display: inline-block;
    place-items: center;
    background-color: #153940;
    margin: 25px;
    padding: 25px;
    color: #bf9f63;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
}

body {
    font-family: 'Tilt Neon';
    background-color: rgba(0,0,0,1);
    position: relative;
}

.Logo {
    position: fixed;
    width: 480px;
    height: 480px;
    top: 30%;
    z-index: 1;
}

h1,h2,h3 {
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 40px !important;
    font-family: 'Playpen' !important;
    color: #bf9f63 !important;
    font-weight: bold !important; 
}

.titulo {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #153940;
    color: #0e0707;
    font-size: 45px;
    font-family: 'Playpen';
}
.subtitle {
    text-align: center;
    color: #FFF;
    padding-bottom: 16px;
    font-size: 24px;
    
}


.container {
    margin-bottom: 24px;
}
.secciones {
    text-align: center;
    color:#ffffff;
    font-size: 20px;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction:row;
    padding: 8px;
    column-gap: 16px;
}
.secciones2 {
    text-align: center;
    color:#ffffff;
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 8px;
    column-gap: 16px;
}

.secciones3 {
    display: flex;
    justify-content: center;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
    font-size: 20px;
}

.imagenGrafica {
    object-fit: cover;
    width:100%;
    height:100%;
}

.mockup {
    width: auto;
    height: auto;
    margin: 25px;
    border-radius: 2%;
}

.parrafo {
    text-align: left;
    padding-top: 20px;
    color:#c2c2cc;
    font-size: 20px;


}
.parrafo2 {
    text-align: center;
}

img {
    width: 450px;
    height: 430px;
    border-radius: 10%;
    object-fit: cover;
}

.articulos {
    padding-top: 40px;
    padding-left: 90px;
    margin: 100px;
}

.listas {
    text-align: left;
    
}

